    <div class="row">
      <div class="col-md-4">
          <%= render "shared/sidebar" %>
      </div>

        <div class="col-md-8">
            <h4>All Orders</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Amount</th>
            <th scope="col">Items</th>
            <th scope="col">Status</th>
            <th scope="col">Date Ordered</th>
            <th scope="col" colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
        <% @orders.each do |order| %>
          <td scope="row"><%= order.id %></td>
            <td><%= order.user.firstname + ' ' +  order.user.lastname %></td>
            <td><%= order.user.email %></td>
            <td>$<%= order.sub_total %></td>
             <td>x<%= order.total_quantity %></td>
            <td>Delivered</td>
            <td><%= link_to 'Show', order %></td>
            <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
          </tr>
                 
        </tbody>
      </table>
          <br>
<!--       <%= link_to 'New Order', new_order_path %>
 -->
           <br>
          <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @orders %>
          </div>
          <%= will_paginate @orders, :container => false %>
        </div>




        </div>
    </div>



