

<p id="notice"><%= notice %></p>

  <h2>Products</h2>
    <div class="row">
      <div class="col-md-8 mx-auto search-form">
        <%= form_with(url: products_path,  method: "get", local: true) do %>
        <div class="row">
                  <%= text_field_tag(:search, params[:search],class:"form-control", placeholder:"Search")%>
        </div>

         <br>
        <div class="row">
          <% if params.has_key? 'search' %>
            <div class="-col-md-6">
             <%= link_to('back to All Products', products_path) %>
          </div>
            <% end %>
              <div class="col-md-6">
             <%= submit_tag ('search'), class: "btn btn-primary col-md-6" %>
              </div>

        <% end %>
        </div>
       

      </div>
    </div>
    <div class="row">




     <% @products.each do |product| %>
      <div class="col-md-3 product-grid-item">
        <div class="product-box">
          <div class="row">
           
               

                <% if product.image.attached? %>
                  <% image_tag product.image %>
                <% end %>    
            
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5><%= link_to product.title, product_path(product.id) %></h5>
            </div>
            <div class="col-md-5"><h5><span class="badge badge-success">$<%= product.price %></span></h5></div>
            <div class="col-md-7">
              <%= button_to 'Add to cart', order_items_path(:product_id => product.id) %>
            </div>
          </div>
        </div>
        
      </div>
      <% end.empty? and begin %>
          <h3 class="mx-auto">No Products Added Yet</h3>
      <% end %>


    </div>

