   
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
				<a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
				<a href="#" class="list-group-item list-group-item-action">Products</a>
				<a href="#" class="list-group-item list-group-item-action">Orders</a>
				<a href="#" class="list-group-item list-group-item-action">Users</a>
				<a href="#" class="list-group-item list-group-item-action">Settings</a>
				<a href="#" class="list-group-item list-group-item-action">Logout</a>
			</ul>
		</div>

		<div class="col-md-8">
			<h4>All Products</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Summary</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col" colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
        	<%= @products.each do |product| %>
          <tr>
            <td scope="row"></td>
            <td><%= link_to product.title, edit_product_path(product) %></td>
            <td><%= product.summary %></td>
            <td><%= product.description %></td>
            <td>$<%= product.price %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Delete', product, medthod: :delete, data: { configm: 'Are you sure?' } %></td>
          </tr>
             
        </tbody>
      </table>
		</div>
	</div>
</div>

